.psychologist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.psychologist-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative; /* Додаємо відносне позиціонування */
  padding-bottom: 60px; /* Додаємо додатковий відступ знизу, щоб звільнити місце для кнопки */

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 30px; 
  }

  p {
    color: #666;
    margin-bottom: 8px;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.ButDelete {
  position: absolute; /* Абсолютне позиціонування */
  bottom: 10px; /* Відступ від нижнього краю */
  left: 50%;
  transform: translateX(-50%);
  background-color: #42B2FC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
  width: 50%;
}
